Calculators/Archive/*
__pycache__/*
.ipynb_checkpoints/*
.idea/*
.vs/*
.vscode/*
experimental/*
notebooks/*
Calculators/fortis_outputs (20201008 rock tunnel feature dist).csv
Calculators/fortis_outputs (20201008 rock tunnel feature matrix).csv
Calculators/FTS sample_of_inputs for Armando Open Air 09252020.csv
Calculators/FTS sample_of_inputs for Armando Rock Tunnel (feature distribution).csv
Calculators/FTS sample_of_inputs for Armando Rock Tunnel 09252020.csv
Calculators/FTS sample_of_inputs for Armando Rock Tunnel 10082020_23_6WT.csv
Calculators/FTS sample_of_inputs for Armando Soft Tunnel 09252020.csv
Calculators/sample_of_inputs_stat.csv
Calculators/SCC_100.csv
Calculators/SCC.csv
